<html>
    <head>
        <title>LLTK</title>
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <section>
            {% include 'navbar.html' %}
        </section>
        <section>
            {% include 'banner.html' %}
        </section>
        <section>
            <div class="pt-3">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </body>

</html>
