{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h2>Language Learning ToolKit (LLTK)</h2>
        <div>
                This is the language learning toolkit. This app is designed to be a learning tool to learn different languages, which users can register for. This app uses the common method of spaced repetition in the demo version, with expansions to possible more advanced methods of learning and quizzing if additional development is needed. Create an account today (free)!
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="p-5 row gx-4">
            <div class="col text-center">
                <button class="btn btn-outline-primary shadow-sm">Create an Account</button>
            </div>
            <div class="col text-center">
                Or
            </div>
            <div class="col text-center">
                <a href="/login" class="btn btn-outline-primary shadow-sm" role="button">Login</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
