<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">LLTK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Hamburger">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/languages/listoflanguages">Available Languages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/languages/editlanguages">Edit Languages</a>
                </li>
            </ul>
        </div>      
    </div>
</nav>
